<ion-card style="margin:0px; margin-top: 10px">
  <ion-item>
    <ion-label style="font-weight: bold;">{{orderdetail?.orderBaseInfo?.contactsUserName}}({{(orderdetail?.orderBaseInfo?.phoneNo)}})</ion-label>
    <ion-label class="order-status" color="danger" style="max-width:60px">{{orderdetail?.orderBaseInfo?.orderStatus | orderStatus}}</ion-label>
  </ion-item>
  <ion-card-content>
    <p>
      <ion-label>订单编号: {{orderdetail?.orderid}}</ion-label>
    </p>
    <p>
      <ion-label>下单时间: {{orderdetail?.orderBaseInfo?.orderTime}}</ion-label>
    </p>
    <p>
      <ion-label>订单地址: {{orderdetail?.orderBaseInfo?.orderAddress}}</ion-label>
    </p>
    <p>
      <ion-label>订单金额:
        <span style="color:#ee3923">{{orderdetail?.orderAmountInfo?.orderAmount}}</span>(<span [style.color]="paymentColor()">{{orderdetail?.orderAmountInfo?.paymentStatus | orderPaymentStatus}})</span> </ion-label>
    </p>
  </ion-card-content>
</ion-card>

<ion-card  style="margin:0px; margin-top: 10px">
  <ion-item>
    <ion-label style="font-weight: bold;">上传合同照片</ion-label>
  </ion-item>
  <ion-card-content>
    <app-image-bar [readonly]="isControlReadOnly()" name="images" [(images)]="images" [uploadUrl]="uploadUrl" (imagesChange)="imagesChange($event)"></app-image-bar>
  </ion-card-content>
</ion-card>
<ion-card style="margin:0px; margin-top: 10px" *ngFor="let item of orderdetail?.orderWorkList let cardIndex = index">
  <ion-card-header style="padding: 10px;background-color: #d0c9c9d1;">
    <ion-card-title style="text-align: center;font-size: 18px;font-weight: 100;">
      施工内容:
      <ion-button size="small" style="float: right;margin-top: -5px;" (click)="presentEditPrompt(item,cardIndex)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item style="height: 100px;overflow: scroll;">
      <pre style="margin: 0px">{{item.orderWork}}</pre>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-button size="default" [disabled]="isControlReadOnly()" (click)="presentCreatePrompt()" style="margin-top:10px">添加订单内容
  <ion-icon name="add-circle-outline"></ion-icon>
</ion-button>