<ion-card style="margin:0px;background-color: #d0c9c9d1;height: 350px;" >
    <ion-card-header style="padding: 10px;background-color: #d0c9c9d1;">
        <ion-card-title style="text-align: center;font-size: 18px;font-weight: 100;">
            请添加服务内容:
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-textarea [(ngModel)]="serviceContent" style="height: 200px;"></ion-textarea>
        </ion-item>
        <div align="center"><ion-button size="small" (click)="confim()" style="margin-top:20px">提交</ion-button></div>
    </ion-card-content>
</ion-card>