<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="activeHref" (click)="cancel()"></ion-back-button>
        </ion-buttons>
        <ion-title>更改订单总金额</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>金额</ion-label>
            <ion-input [(ngModel)]="totalAmount"></ion-input>
        </ion-item>
    </ion-list>
    <div align="center">
        <ion-button expand="block" fill="outline" (click)="confim()" style="margin-top:20px;width: 50%;">提交</ion-button>
    </div>
</ion-content>