<ion-header>
  <ion-toolbar>
    <ion-title class="order-list-title">您的订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <mat-tab-group  (selectedIndexChange)="changeType($event)"animationDuration="0ms">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      <ion-card *ngFor="let item of orderItems; let index = index" style="margin-left:0px;margin-right:0px;margin-bottom: 0px">
        <ion-item href="/tabs/root/(order:order/{{item.orderId}})">
          <ion-label style="font-weight:bold">{{item.orderName}}</ion-label>
          <ion-label color="danger" style="text-align: right;margin-right: 0px;">状态:{{item.orderStatus}}</ion-label>
        </ion-item>
        <ion-card-content>
          <p><ion-label>订单编号:{{item.orderNo}}</ion-label></p>
          <p><ion-label>客户姓名:{{item.customerName}}</ion-label></p>
          <p><ion-label>客户电话:{{item.customerPhone}}</ion-label></p>
          <p><ion-label>下单时间:{{item.orderTime}}</ion-label></p>
          <p><ion-label>订单地址:{{item.orederAddress}}</ion-label></p>
        </ion-card-content>
    </ion-card>
    </mat-tab>
  </mat-tab-group>
</ion-content>