<ion-header>
  <ion-toolbar color="primary">
    <ion-title>您的订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="changeType($event)" animationDuration="0ms">
    <mat-tab *ngFor="let tab of tabs; let tabIndex = index" [label]="tab">
      <ng-template matTabContent>
        <ion-card *ngFor="let item of orderItems$ | async; let orderIndex = index">
          <ion-item href="/tabs/root/(order:order/{{item.orderNo}})">
            <ion-label style="font-weight: bold;">{{item.orderName}}</ion-label>
            <ion-label class="order-status" color="danger">状态: {{item.orderStatus | orderStatus}}</ion-label>
          </ion-item>
          <ion-card-content>
            <p>
              <ion-label>订单编号: {{item.orderNo}}</ion-label>
            </p>
            <p>
              <ion-label>客户姓名: {{item.customerName}}</ion-label>
            </p>
            <p>
              <ion-label>客户电话: <a href="tel://{{item.customerPhone}}">{{item.customerPhone}}</a></ion-label>
            </p>
            <p>
              <ion-label>下单时间: {{item.orderTime | date: 'yyyy-MM-dd HH:mm:ss' }}</ion-label>
            </p>
            <p>
              <ion-label>订单地址: {{item.orderAddress}}</ion-label>
            </p>
          </ion-card-content>
        </ion-card>
        <ion-infinite-scroll threshold="1000" (ionInfinite)="loadMore($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ion-content>