
ion-card {
    margin: 10px 1px 1px 1px;
}

:host {

    @media (max-width: 599px) {
        ::ng-deep .mat-tab-label {
            padding: 0;
            min-width: 60px;
        }
    }

    ::ng-deep .mat-ink-bar {
        background-color: var(--ion-color-primary) !important;
    }
    // 太丑了，不要背景。
    // ::ng-deep .mat-tab-label-active {
    //     background-color: var(--ion-color-primary);
    // }

    mat-tab-group {
        height: 100%;
    }

    ::ng-deep .mat-tab-body-wrapper {
        height: 75vh; //required height
    }
}

.order-status {
    text-align: right;
    margin-right: 0px;
    font-size: 14px;
}