<ion-tabs>

  <!-- <ion-tab tab="order">
    <ion-router-outlet name="order"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="hero">
    <ion-router-outlet name="hero"></ion-router-outlet>
  </ion-tab> -->


  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="order">
      <ion-icon name="list"></ion-icon>
      <ion-label>订单</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hero">
      <ion-icon name="apps"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>