<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="splash-bg">
    </div>
    <div class="splash-info">
        <div *ngIf="management" class="splash-logo-management"></div>
        <div *ngIf="client" class="splash-logo-client"></div>
        <div class="splash-logo-bottom" style="margin-top:55px !important"></div>
    </div>
    <form (ngSubmit)="createUnifiedOrder()" #payForm="ngForm">
        <ion-list style="position: relative">
            <ion-item>
                <ion-label class="ion-label-font">
                    <img src="assets/img/icon_user_new.png" style="height:20px;">
                </ion-label>
                <ion-input required name="orderId" type="text" placeholder="订单编号" [(ngModel)]='orderId'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="ion-label-font">
                    <ion-icon name="finger-print"></ion-icon>
                </ion-label>
                <ion-input required name="wxOpenId" type="text" placeholder="override wxOpenId" [(ngModel)]='wxOpenId'></ion-input>
            </ion-item>
        </ion-list>
        <ion-button type="submit" [disabled]="!payForm.form.valid" expand="full">前往支付</ion-button>
    </form>
    <ion-label class="label version-label">{{versionLabel}}</ion-label>
    <ion-label class="label company-label">Your company label here</ion-label>
</ion-content>