<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label class="ion-label-font">
                <ion-icon name="finger-print"></ion-icon>
            </ion-label>
            <ion-input name="wxOpenId" type="text" placeholder="override wxOpenId" [(ngModel)]='wxOpenId'></ion-input>
        </ion-item>
        <ion-item *ngFor="let item of orderItems;">
            <ion-card>
                <ion-img class="card-avatar" [src]="item.orderThumbUrl"></ion-img>
                <ion-card-header>
                    <ion-card-title>订单金额: {{item.orderAmount}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>订单编号: {{item.orderid}}</p>
                    <p>订单状态: {{item.orderStatus}}</p>
                    <p>支付状态: {{item.paymentStatus}}</p>
                    <p *ngIf="item.shouldBePaid">
                        <ion-button color="primary" expand="full" (click)="createUnifiedOrder(item)">前往支付</ion-button>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>