page-home {
    .splash-bg {
      position: relative;
      background: url('/src/assets/img/bg_source_green.png') no-repeat transparent;
      background-size: cover;
      height: 33%;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 40s linear infinite;
    }
  
    @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
  
    .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -100px;
      text-align: center;
    }
    .splash-logo {
      margin: auto;
      background: url('/src/assets/img/home_center_green.png') repeat transparent;
      background-size: 100%;
      width: 175px;
      height: 172.5px;
    }
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
    }
    button.login {
      margin-top: 25px;
      background-color: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: #333;
  
      &.activated {
        background-color: rgb(220, 220, 220);
      }
    }

    ul {
        width: 100%;
        margin: auto;
        margin-top: -60px;
        text-align: center;
        list-style: none;
        padding-left: 0;
        display: flex;
    }

    li {
        width: 25%;
        text-align: -webkit-center;
    }

    ion-content {
      background-image: linear-gradient(#ffffff 350px,#78cabc);
    }

    .fab {
      width: 65px;
      height: 65px;
      background-color: #5cdbc5;
      border: 3px double #a9ebe0;
      margin-bottom: 10px;
    }

    .fab ion-icon {
      font-size: xx-large;
    }

    .splash-company-logo {
      float: left;
      background: url('/src/assets/img/company_logo.png') no-repeat transparent;
      background-size: 100%;
      width: 120px;
      height: 200px;
      margin-top: 20px;
      margin-left: 5px;
    }

    .splash-user-logo {
      float: right;
      background: url('/src/assets/img/icon_user_big.png') no-repeat transparent;
      background-size: 100%;
      width: 50px;
      height: 200px;
      margin-top: 20px;
      margin-right: 5px;
    }
  }
  