<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/root/order"></ion-back-button>
        </ion-buttons>
        <ion-title>订单详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of links" [routerLink]="link.path" (click)="activeLink = link.path" [active]="activeLink == link.path">
            {{link.label}}
        </a>
    </nav>

    <router-outlet></router-outlet>
</ion-content>