page-recording-dialog{
    .toolbar-background{
        background-color:#363535;
    }
    .content-md{
        background-color:#363535;
    }
    .content-ios{
        background-color:#363535;
    }
    .operation-title1{
        width: 100%;
        margin: auto;
        margin-top: 30%;
        text-align: center;
    }

    .operation-title2{
        width: 100%;
        margin: auto;
        margin-top: 5px;
    }
}